*{
  box-sizing: border-box;
}
.spectrum_logo{
  height: 100px;
  width: 100px;
}
.homepage_header{
  
  display: flex;
  padding-top: 50px;
  font-weight: 900;
  font-size: 30px;
  position: fixed;
  
}
body{
  height: 3000px;
  font-family: Work Sans;
  background-color: rgb(6, 101, 104);
  background-image: url('All pictures/home.jpg');
  background-repeat: no-repeat;
  background-size: 100% 1200px;
  background-blend-mode: overlay;
  
  
  

}
.left-section{
  margin-left: 200px;
  color: white;
  display: flex;
  
}
.image{
  margin-right:10px
}
.menubar{
  padding-top: 6px;
  font-size: 23px;
  color: white;
  margin-left: 700px;
}
.menubar ul{
  display: inline-flex;
  list-style: none;
}
.menubar ul li{
  width: 120px;
}
